*{
    background-color: #333 !important;
    color: red !important;
}
.maindiv-border{
    margin-top: 10px;
    width: 550px;
    height: 180px;
    border: 2px solid red;
}
.seconddiv-border{
    margin-top: 10px;
    width: 550px;
    height:370px;
    border: 2px solid red;
}
.melle{
    box-sizing: border-box;
    display: block;
    float: left;
}
.thirddiv-border{
    margin-top: 10px;
    width: 550px;
    height:370px;
    border: 2px solid red;
}
.nav-item{
    color: red;
    margin-right: 10px;
    border: 2px solid red;
}